<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="auto-style2" style="background-color: #454545;"> <img class="img-responsive" src="/assets/Logo.png" alt="Canadian Tire Logo" width="35" height="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OPEX Dashboard</div>
  <div class="list-group list-group-flush">
  <div class="list-group-item list-group-item-action bg-light">Time Periods</div>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  YTD
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="#">QTD</a>
  <a class="dropdown-item" href="#">MTD</a>
  <a class="dropdown-item" href="#">WTD</a>
  <a class="dropdown-item" href="#">Yesterday</a>
  </div>
  <div class="list-group-item list-group-item-action bg-light">Compare Periods</div>
  <div class="dropdown">
    <div class="grp">
        <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      2018
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">2019</a>
      <a class="dropdown-item" href="#">2017</a>
    </div> <!--closes the dropdownmenubutton-->
  </div> <!--closes the dropdown-->
     vs
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      2019
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">2018</a>
      <a class="dropdown-item" href="#">2017</a>
    </div> <!--closes the dropdownmenubutton-->
  </div> <!--closes the dropdown-->
  </div>  <!--closes the grp-->
  <br>
  <button class="btn btn-primary" id="menu-submit">Submit</button>
</div>
</div>
