#dropdownMenuButton {
  font-size: 12px;
  color: black;
  background-color: white;
}
#dropdownMenuButton2 {
  font-size: 12px;
  color: black;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  width: 95%;
}

.grp {
  display: flex;
  text-align: center;
  margin: 15px;
}

.dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

#menu-submit {
  margin-left: 50px;
  width: 50%;
  align-self: center;
  margin-top: -10px;
}


.auto-style2 {
  max-width: 250px;
  padding: 12px;
  background-color: white;
  font-weight: bold;
  color: #FFFFFF;
  }



/* body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#dropdownMenuButton {
  background-color: white;
  color: black;
  font-size: 12px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
} */
