<div class="container-fluid">
  <div *ngFor="let card of cards">
    <app-card [card]="card"></app-card>
  </div>

  <!-- <app-card [card]="cards[2]"></app-card> -->

  <!-- <div class="row">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  

  <div class="row">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  

  <div class="row">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div> -->

</div>
<!--container fluid-->
