<div class="container-fluid">
<div class="row"> 
    <div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                        
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

<div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                       <!--<img src="white arrow down.png" alt="arrow"> --> 
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

<div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                      
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

</div> <!--row-->
<div class="row"> 
    <div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                       
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

<div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                        
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

<div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                        
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

</div> <!--row-->

<div class="row"> 
    <div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                         
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

<div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                        
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

<div class="card-outer">
    <div class="card"> 
       <div class="kpicard" >
            <div class= "kpiheader">
                <div class="kpiarrow">
                         
                </div>
                <!-- get kpi name and place here instead of KPI 1-->
                <div class= "kpititle">KPI 1
                </div>
            </div> <!-- close header --> 
            <div class= "kpibody"> 
                <div class="var-pct">(9.6%)
                </div> 
                 <div class= "var-sep">|

                </div>
                <div class="var-act">($3,000)

                </div> 
            </div> <!-- close kpibody --> 
<div><!-- kpifooter -->
<div class= "subtext"> <!-- TY -->
    <p> 
    TY $2,456K
    </p>
</div>
<div class= "subtext">
<p  ><!-- LY -->
LY $2,456K
</p>
</div>

</div> <!-- kpifooter -->
<!-- <a href= "page 2">this links to page 2</a>-->
  </div> <!--kpicard--> 
</div> <!--card-->
</div> <!--card outer-->

</div> <!--row-->


</div> <!--container-fluid-->
